{% extends 'tournament/main_tournament.html' %}

{% block tournament_content %}
<div>
    <br> <br>
    <table>
        <tr>
            <td> </td>
            {% for army in armies %}
                <td>{{ army }}</td>
            {% endfor %}
        </tr>
        {% for score_list in list_score_win_ratio %}
            <tr>
                {% for score in score_list %}
                    <td>{{ score }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock tournament_content %}