{% include 'navbar.html' %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">
    <div>
        <br>
        Twoje Statystyki <br>
        <a href ="{% url 'your_tournaments' %}">Twoje Turnieje</a> <br>
        Zakończone turnieje <br>
        <br>
        <a href ="{% url 'create_tournament' %}">Stworz turniej </a><br>
        <br>
        Ustawienia <br>
    </div>

    {% block content_your_profile %}


    {% endblock content_your_profile %}

</div>