{% extends 'base/main_home.html' %}


{% block home_content %}
<div>
    <div>
        <h2>{{ room.name }}</h2>
        {% if request.user == room.host %}
            <p><a href ="{% url 'chat:room_delete' room.id %}">Usuń pokój</a><a href = "{% url 'chat:room_update' room.id %}">Edytuj pokój</a></p>
        {% endif %}
        <p>{{ room.description }}</p>
        <hr>
    </div>

    <div>
        {% for message in messages %}
            <small>@{{message.user}}   {{message.data_create|timesince}} </small>
            {% if message.user == request.user %}
                <small><a href = "{% url 'chat:delete_message' message.id %}">usuń wiadomość</a></small>
                <small><a href = "{% url 'chat:update_message' message.id %}">edytuj</a></small>
            {% endif %}
            <p>{{message.body}}</p>
            <hr>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div>
        <form method = "POST" action = "">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Napisz swoją wiadomość..." size = 50 />
            <input type="submit" value="Submit" />
        </form>
    </div>
    {% endif %}
</div>
{% endblock home_content %}