{% extends 'main.html' %}

{% block content %}

<style>
    .tournament-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="tournament-container">

    <div>
        <h4>Założyciel: {{ tournament.host }}</h4>
        <h4><a href = "{% url 'tournament' tournament.id %}">Tablica wyników</a></h4>

        <br> <br>
        <h4><a href = "{% url 'rules' tournament.id %}">Zasady</a></h4>
        <h4><a href = "{% url 'history_of_duels' tournament.id %}">Historia pojedynków</a></h4>
        <h4><a href = "{% url 'tournament_statistics' tournament.id %}">Statystyki</a></h4>
        <h4>Poprzednie edycje</h4>
        <h4><a href = "{% url 'duel' tournament.id %}">Dodaj wynik</a></h4>
        <br> <br>

        {% if request.user == tournament.host %}
            <h4><a href ="{% url 'tournament_settings' tournament.id %}">Ustawienia</a></h4>
            <h4><a href ="">Dodaj zawodnika/dodaj wynik</a></h4>
        {% endif %}
    </div>

  {% block tournament_content %}

  {% endblock tournament_content %}

    <div>
        xdd
    </div>

</div>

{% endblock content %}