{% extends 'tournament/main_tournament.html' %}

{%  block tournament_content %}
<div>
        <div>
            <h2><strong>{{ tournament.name }}</strong></h2><br>
        </div>

        <div>
            <table>
                <tr>
                    <td><strong>Nazwa zawodnika</strong></td>
                    <td><strong>Liczba zwycięstw</strong></td>
                    <td><strong>Liczba remisów</strong></td>
                    <td><strong>Liczba porażek</strong></td>
                    <td><strong>Duże punkty</strong></td>
                    <td><strong>Małe punkty</strong></td>

                </tr>
            {% for participant in praticipant_score_list %}
                <tr>
                    {% for score in participant %}
                    <td>{{ score }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
</div>
{%  endblock tournament_content %}
