{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

            {% if login_error != None %}
                <p>{{login_error}}</p>
            {% endif %}
        <label>Login</label>
        <input type="text" name="username" placeholder="Wpisz nazwę użytkownika" />

        <label>Hasło</label>
        <input type="password" name="password" placeholder="Podaj hasło" />

        <input type="submit" value="login" />

    </form>

    <p>Nie posiadasz konta?</p>
    <a href = "{% url 'register' %}">Zarejestruj się!</a>

</div>

{% else %}

<div>
    <form method = "POST" action = "">
        {% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value = "Register" />
    </form>

    <p>Posiadasz już konto?</p>
    <a href = "{% url 'login' %}">Zaloguj się!</a>
</div>


{% endif %}
{% endblock content %}