{% extends 'main.html' %}

{% block content %}

    <style>
    .home-container{
        display: grid;
        grid-template-columns: 2fr 8fr 1fr;
    }
    </style>

<div class = "home-container">
    <div>
        <h4><a href = "{% url 'home' %}">Nowości</a></h4><br>
        <h4><a href="{% url 'tournaments_list' %}">Lista turniejów</a></h4>
        <h4><a href="{% url 'user_list' %}">Lista użytkowników</a></h4>
        <br>
        <h4><a href="{% url 'chat:room_list_view' %}">Forum</a></h4>
        {% if request.user.is_authenticated %}
        <h4><a href="{% url 'chat:room_create' %}">Stwórz pokój</a></h4>
        {% endif %}
    </div>

    {% block home_content %}


    {% endblock home_content %}

    <div>
        <p>Forma tylko pokazowa REST API:</p>
        <a href ="{% url 'first_api' %}">Liczba turniejów</a>
    </div>

</div>

{% endblock content %}
