{% extends 'main.html' %}

{% block content %}
<div>
    <h3>Wyszukiwarka</h3>
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name="home_search" placeholder="Wyszukaj turniej" />
        <button type="submit">Wyszukaj</button>
    </form>
</div>

<div>
    <h2><strong>Liczba wyszukanych obiektów: {{ query_len }}
        {% if query %}
        dla hasła {{ query }}
        {% endif %}
    </strong></h2>
    {% for tournament in tournaments %}
        <div>
            <h3><strong><a href = "{% url 'tournament' tournament.id %}"> {{ tournament.name }} </a></strong></h3>
        <br>
            {{ tournament.description }}
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock content %}