{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">

    <div>
        <h4>Założyciel: {{ tournament.host }}</h4>
        <br>
        <h4>Zasady</h4>
        <h4>Historia pojedynków</h4>
        <h4>Statystyki</h4>
        <h4>Poprzednie edycje</h4>
    </div>

    <div>
        <div>
            <h2><strong>{{ tournament.name }}</strong></h2><br>
        </div>

        <div>
            <table>
                <tr>
                    <td><strong>Nazwa zawodnika</strong></td>
                    <td><strong>Liczba zwycięstw</strong></td>
                    <td><strong>Liczba remisów</strong></td>
                    <td><strong>Liczba porażek</strong></td>
                    <td></td>
                    <td><strong>Duże punkty</strong></td>
                    <td><strong>Małe punkty</strong></td>

                </tr>
            {% for score in scores %}
                <tr>
                    <td>{{ score.user.username }}</td>
                    <td>{{ score.win_count }}</td>
                    <td>{{ score.draw_count }}</td>
                    <td>{{ score.lose_count }}</td>
                    <td></td>
                    <td>{{ score.big_points }}</td>
                    <td>{{ score.small_points }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div>
        xdd
    </div>

</div>

{% endblock content %}