{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">

    <div>
        <h4>Uczestnicy:</h4>
        {% for participant in participants %}

            {{ participant.username }}
            <br>

        {% endfor %}
    </div>

    <div>
        <h2><strong>{{ tournament.name }}</strong></h2><br>
    </div>

    <div>
        xdd
    </div>

</div>

{% endblock content %}